.Logoheading{
    font-family:"Times New Roman";
    font-size: 40px;
    font-weight: bolder;
}
.headcolor{
    color:#d0b200;
    font-family:"Times New Roman";
    font-size: 40px;
    font-weight: bolder;
}
.banner-section-bg-container {
    background-image: url("C:/Users/sahit/OneDrive/Pictures/fbg.jpg");
    background-size: cover;
    height: 100vh;
    width:100vw;
}

.food-munch-logo {
    height: 100px;
    width: 250px;
    border-radius: 20px;

}

.banner-section-heading {
    color: black;
    font-size: 55px;
    font-family: "Comic Sans MS";
    font-weight: bolder;
    padding-top:400px;
}

.banner-section-para {
    color: black;
    font-size: 34px;
    font-family: "Comic Sans MS";
    font-weight: 300;
}



.custom-button-items-page {
    width: 70px;
    height: 30px;
    background-color:purple;
    color: white;
    border-width: 0px;
    border-radius: 8px;
    margin-right: 10px;
    margin-left:100px;
    
}

.custom-button-items-page :hover{
    color: red;
    
}

.navbar-nav .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin-left:10px;
}

#Navitem1 {
    color: purple;
    font-family: "Roboto";
}

#Navitem2 {
    color: purple;
    font-family: "Roboto";
}

#Navitem3 {
    color: purple;
    font-family: "Roboto";
}

#Navitem4 {
    color: purple;
    font-family: "Roboto";
}


#Navitem5{
    color: purple;
    font-family: "Roboto";
}
#Navitem6{
    color:purple;
    font-family:"Roboto";
}



.explore-menu-section {
    background-color: white;
}

.menu-section-heading {
    color: black;
    font-size: 28px;
    font-weight: 700;
    font-family: "Helvetica";
}

.menu-item-heading {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin-top:10px;
}

.menu-item-link {
    color: purple;
    font-family: "roboto";
    font-size: 14px;
    font-weight: 500;
}

.menu-item-image {
    width:150px;
    height:150px;
    border-radius:16px;

}

.menu-item-card {
    border-radius:10px;
    height:250px;
    width:240px;
    padding:2px;
}

.quantity{
    margin-left:50px;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    color: black;
    margin-top:10px;
}

.price_selection{
    padding-top: 0px;
}

.custom-button {
    width: 130px;
    height: 45px;
    background-color:purple;
    color: white;
    border-width: 0px;
    border-radius: 8px;
    margin-right: 30px;
}