@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.Logoheading{
    font-family:"Times New Roman";
    font-size: 40px;
    font-weight: bolder;
}
.headcolor{
    color:#d0b200;
    font-family:"Times New Roman";
    font-size: 40px;
    font-weight: bolder;
}
.banner-section-bg-container {
    background-image: url("fbg.jpg");
    background-size: cover;
    height: 100vh;
    width:100vw;
}

.food-munch-logo {
    height: 100px;
    width: 250px;
    border-radius: 20px;

}

.banner-section-heading {
    color: black;
    font-size: 55px;
    font-family: "Comic Sans MS";
    font-weight: bolder;
    padding-top:400px;
}

.banner-section-para {
    color: black;
    font-size: 34px;
    font-family: "Comic Sans MS";
    font-weight: 300;
}



.custom-outline-button {
    width: 130px;
    height: 45px;
    background-color: transparent;
    color: purple;
    border-width: 1px;
    border-radius: 8px;
    border-style: solid;
    border-color: purple;
}

#Navitem1 {
    color: purple;
    font-family: "Roboto";
}

#Navitem2 {
    color: purple;
    font-family: "Roboto";
}

#Navitem3 {
    color: purple;
    font-family: "Roboto";
}

#Navitem4 {
    color: purple;
    font-family: "Roboto";
}


#Navitem5{
    color: purple;
    font-family: "Roboto";
}



.wcu-section {
    background-color: #f9fbfe;
}

.wcu-section-heading {
    color: black;
    font-family: "Helvetica";
    font-size: 30px;
    font-weight: bold;
}

.wcu-section-description {
    color: black;
    font-family: "Helveticas";
    font-size: 20px;
}

.wcu-card-image {
    width: 87px;
    height: 90px;
}

.wcu-card {
    background-color: white;
    text-align: center;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
}

.wcu-card-heading {
    color: #323f4b;
    font-size: 22px;
    font-family: "roboto";
}

.wcu-card-description {
    color: #7b8794;
    font-family: "roboto";
    font-size: 16px;
}

span {
    color: #323f4b;
    font-style: italic;
    font-weight: 600;
}


.explore-menu-section {
    background-color: white;
}

.menu-section-heading {
    color: black;
    font-size: 28px;
    font-weight: 700;
    font-family: "Helvetica";
}

.menu-item-heading {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    color: #323f4b;
    margin-top: 24px;
}

.menu-item-link {
    color: purple;
    font-family: "roboto";
    font-size: 14px;
    font-weight: 500;
}

.menu-item-image {
    width:100%;
    
    border-radius: 16px;

}

.menu-item-card {
    border-radius: 16px;
}

.health-section {
    background-color: #f9fbfe;
}

.health-section-image {
    width: 270px;
}

.health-section-heading {
    color: black;
    font-family: "roboto";
    font-size: 28px;
    font-weight: 700;
}

.health-section-description {
    color: black;
    font-family: "roboto";
    font-size: 16px;
}

.custom-button {
    width: 130px;
    height: 45px;
    background-color:purple;
    color: white;
    border-width: 0px;
    border-radius: 8px;
    margin-right: 10px;
}

.payment-section {
    background-color: white;
}

.payment-section-image {
    width: 270px;
}

.payment-section-heading {
    color:black;
    font-family: "roboto";
    font-size: 28px;
    font-weight: 700;
}

.payment-section-description {
    color: black;
    font-size: 16px;
    font-family: "roboto";
}

.payment-sm-image {
    width: 50px;
    height: 50px;
    margin-right: 28px;
}

.thankyou-section {
    background-image: radial-gradient(#fff8db, purple);

}

.thankyou-section-heading {
    color: black;
    font-family: "roboto";
    font-size: 28px;
    font-weight: 700;
}

.thankyou-section-description {
    color: black;
    font-family: "roboto";
    font-size: 16px;
}

.thankyou-gift-image {
    width: 270px;
    margin-bottom: 20px;
}

.follow-us-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
    text-align: center;

}

.follow-us-section {
    background-color: white;
}

.footer-section {
    background-color:#7c427c;
}

.footer-section-email {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 15px;
    color: black;
    margin-top: 20px;
}

.footer-section-address {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 14px;
    color: black;
    margin-top: 10px;
}

.follow-us-icon-container {
    background-color: #faf7e8;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
}

.modal-title {
    color:purple;
    font-family: "Roboto";
    font-weight: bold;
}

.icon {
    color: purple;
    font-size: 35px;
}


#carouselExampleIndicators {
  max-width: 900px; 
  max-height: 700px; 
  margin: 0 auto; 
}


.carousel-item img {
  max-width: 100%; 
  max-height: 100%; 
}



.navbar-nav .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin-left:10px;
}

.custom-outline-button1{
    width: 130px;
    height: 45px;
    background-color: transparent;
    color: white;
    border-width: 1px;
    border-radius: 8px;
    border-style: solid;
    border-color: white;
}
